<h2>List: <%= @list.name %></h2>
<br>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <li><%= movie.title%></li>
  <li><%= bookmark.comment %><%= link_to "Delete this Bookmark", list_bookmark_path(@list), method: :delete, data: { confirm: "Are you sure?" }  %></li>
<% end %>

<br>
<%= link_to "Create a new Bookmark", new_list_bookmark_path(@list) %>
